@import url(https://fonts.googleapis.com/css?family=Orbitron);
@import url(https://fonts.googleapis.com/css?family=Rajdhani);

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  align-items: center;
  display: flex;
  flex-basis: 30vh;
  flex-direction: column;
  justify-content: center;
}

.header-title,
.header-subtitle {
  color: #fff;
  z-index: 1;
}

.header-title {
  align-items: baseline;
  display: inline-flex;
  font: 1rem 'Orbitron', sans-serif;  
}

.header-logo {
  margin-right: 10px;
  width: 120px;
}

.header-subtitle {
  font: 1.2rem 'Rajdhani', sans-serif;
}

.planet-board {
  color: #fcd000;
  display: flex;
  flex: 1;
  font-family: 'Orbitron', sans-serif;
  justify-content: center;
  line-height: 2;
  z-index: 1;
}

.planet-info {
  align-self: center;
  border: 1px solid #fcd000;
  flex-wrap: wrap;
  font-size: .8rem;
  list-style: none;
  padding: 10px;
  text-align: justify;
}

.planet-name {
  font-size: 1.3rem;
  text-align: center;
}

.btn-container {
  align-items: center;
  display: flex;
  flex-basis: 25vh;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 1;
}

.btn-wrap {
  display: flex;
  padding: 10px;
}

.btn-image {
  cursor: pointer;
  height: 50px;
}

.btn-text {
  align-self: flex-end;
  color: #fff;
  font: 1.1rem 'Rajdhani', sans-serif;
}

.audio {
  color: #fff;
  padding: 10px;
  z-index: 1;
}

@keyframes twinkling {
  from { background-position: 0 0; }
  to { background-position: -10000px 5000px; }
}

.stars,
.twinkle {
  display: block;
  min-height: 100vh;
  position: absolute;
  width: 100%;
}

.stars {
  background: #000 url(images/stars.png) repeat top center;
  z-index: 0;
}

.twinkle {
  animation: twinkling 200s linear infinite;
  background: transparent url(images/twinkle.png) repeat top center;
  z-index: 1;
}

/* Media query */
@media (min-width: 48em) { /* 768px */
  .header-title {
    font-size: 2rem;
  }

  .header-subtitle {
    font-size: 1.5rem;
  }

  .planet-name {
    font-size: 1.5rem;
  }

  .planet-info {
    font-size: 1rem;
    padding: 30px;
  }

  .btn-wrap {
    padding: 0;
  }

  .btn-image {
    height: 60px;
  }
}