/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Orbitron);
@import url(https://fonts.googleapis.com/css?family=Rajdhani);

/* App container */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Start header */
.header {
  align-items: center;
  display: flex;
  flex-basis: 30vh;
  flex-direction: column;
  justify-content: center;
}

.header__logo {
  margin-right: 10px;
  width: 120px;
}

.header__title,
.header__subtitle {
  color: #fff;
  z-index: 1;
}

.header__title {
  align-items: baseline;
  display: inline-flex;
  font: 1rem 'Orbitron', sans-serif;  
}

.header__subtitle {
  font: 1.2rem 'Rajdhani', sans-serif;
}
/* --- End header --- */

/* Main */
.main {
  display: flex;
  flex: 1;
  justify-content: center;
  z-index: 1;
}

/* Start planet board */
.planet {
  align-self: center;
  border: 1px solid #fcd000;
  color: #fcd000;
  font: .8rem 'Orbitron', sans-serif;
  line-height: 2;
  list-style: none;
  padding: 10px;
  text-align: justify;
}

.planet__name {
  font-size: 1.3rem;
  text-align: center;
}
/* --- End planet board --- */

/* Error message for failed fetch*/
.error {
  align-self: center;
  color: #fcd000;
}

/* Bottom container */
.bottom-container {
  align-items: center;
  display: flex;
  flex-basis: 25vh;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 1;
}

/* Start button */
.btn {
  display: flex;
  padding: 10px;
}

.btn__image {
  cursor: pointer;
  height: 50px;
}

.btn__text {
  align-self: flex-end;
  color: #fff;
  font: 1.1rem 'Rajdhani', sans-serif;
}
/* --- End button --- */

/* If the audio does not work it shows the message */
.audio {
  color: #fff;
  padding: 10px;
  z-index: 1;
}

/* Twinkling stars animation */
@keyframes twinkling {
  from { background-position: 0 0; }
  to { background-position: -10000px 5000px; }
}

/* Start stars and twinkle backgrounds */
.stars,
.twinkle {
  display: block;
  min-height: 100vh;
  position: absolute;
  width: 100%;
}

.stars {
  background: #000 url(images/stars.png) repeat top center;
  z-index: 0;
}

.twinkle {
  animation: twinkling 200s linear infinite;
  background: transparent url(images/twinkle.png) repeat top center;
  z-index: 1;
}
/* --- End stars and twinkle backgrounds --- */

/* Media query */
@media (min-width: 48em) { /* 768px */
  .header__logo {
    width: 150px;
  }

  .header__title {
    font-size: 2rem;
  }

  .header__subtitle {
    font-size: 1.5rem;
  }

  .planet {
    font-size: 1rem;
    padding: 30px;
  }

  .planet__name {
    font-size: 1.5rem;
  }

  .btn {
    padding: 0;
  }

  .btn__image {
    height: 60px;
  }
}